* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
}
.navContainer1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "iconsLeft times iconsRight";
}
.iconsLeft {
  grid-area: iconsLeft;
}
.times {
  grid-area: times;
}
.times p {
  font-size: 0.5rem;
}
.iconsRight {
  grid-area: iconsRight;
  display: flex;
  justify-content: flex-end;
}
.navContainer2 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-areas: ". . home about business interview politics travel contact . .";
}

.home {
  grid-area: home;
}
.about {
  grid-area: about;
}
.business {
  grid-area: business;
}
.interview {
  grid-area: interview;
}
.politics {
  grid-area: politics;
}
.travel {
  grid-area: travel;
}
.contact {
  grid-area: contact;
}
main {
  /* background-color: goldenrod; */
  padding-top: 100px;
}
.firstContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-template-areas:
    "leftCard1  middleCard middleCard middleCard rightCard"
    "leftCard2  middleCard middleCard  middleCard rightCard";
}
.leftCard1 {
  grid-area: leftCard1;
  background-color: bisque;
}
.leftCard2 {
  grid-area: leftCard2;
  background-color: brown;
}
.middleCard {
  grid-area: middleCard;
}
.rightCard {
  grid-area: rightCard;
  background-color: azure;
}

.businessContainer,
footer {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  background-color: blueviolet;
}

.politicsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "big big small1"
    "big big small2"
    "big big small3"
    "big big small4"
    "big big ."
    "big big .";
}
.politicsContainer div {
  background-color: cadetblue;
  gap: 1rem;
}

.flexColummn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.centerDirection {
  justify-content: center;
  align-items: center;
}
